<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "MustSurfNow" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var locator = new Surf.Locator( <%= session[:geo].to_json.html_safe %> );
  </script>
</head>
<body>
  <nav class="top-bar">
    <ul>
      <li class="name"><h1><a href="/">MustSurfNow.com</a></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
      <ul class="right">
        <li class="search">
          <form class="collapse" action="/">
            <input type="text" placeholder="Address..." name="location" size="40">
            <button type="submit" class="secondary radius button">Go</button>
          </form>
        </li>
        <li><a href="#" id="feedbackLink">Feedback</a></li>
        <li><%= link_to "Meet the Team", { :controller => :team, :action => :index } %></li>
      </ul>
    </section>
  </nav>

  <div style="margin-top: .5em">
    <div class="twelve columns">
      <% if session[:geo] %>
        <div class="location-box alert-box" style="font-size: 1.3em">
          Location: <%= session[:geo][:name] %>
          &nbsp;
          <%= link_to "reset", { :controller => :sessions, :action => :clear }, { :style => "color: white; text-decoration: underline"} %>
        </div>
      <% else %>
        <div class="location-box alert-box secondary">
          Getting your current location...
        </div>
      <% end %>

      <div class="location-box-error alert-box alert" style="display: none"></div>
    </div>
  </div>

  <div>
    <% if @full_width %>
      <div class="twelve mobile-three columns">
        <%= yield %>
      </div>
    <% elsif @near_spots_up_top %>
      <div class="four mobile-one columns" id="side_bar">
        <%= render :partial => "surf_spots/near_spots" %>
      </div>

      <div class="eight mobile-three columns">
        <%= yield %>
      </div>
    <% else %>
      <div class="push-four eight mobile-three columns">
        <%= yield %>
      </div>

      <div class="pull-eight four mobile-one columns" id="side_bar">
        <%= render :partial => "surf_spots/near_spots" %>
      </div>
    <% end %>
  </div>

  <%= render :partial => "layouts/feedback" %>

  <%= yield :scripts %>

</body>
</html>
